$red: #ff3252;

.likeBtn {
  display: inline-block;
  position: absolute;
  font-size: 1.5rem;
  cursor: pointer;
  top: 2.5rem;
  right: 3rem;
  // border: 1px solid black;
  &::before {
    font-size: 3em;
    color: #fff;
    content: "♥";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &::after {
    font-size: 3em;
    color: $red;
    content: "♥";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s;
  }
  &.liked::after {
    transform: translate(-50%, -50%) scale(1.1);
  }
}
