.gridContainer {
  max-width: 130rem;
  margin: 0 auto;
  width: 98%;
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 40rem));
  align-items: center;
}
