.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 4px 4px 0px rgb(0 0 0 / 20%);
    text-transform: uppercase;
  }
}

.logoBox {
  cursor: pointer;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
}

.navItem {
  cursor: pointer;
}

@import "../Helper/mediaQueries.module.scss";
